.container {
    display: grid;
    width: 100vw;
    min-height: 50vw;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-auto-rows: minmax(80px, auto);

    grid-template-areas: 
    "header header header header header"
    "header header header header header"
    "main main main main main"
    "nav nav nav nav nav";
    background-color: black;
}

header {
    grid-area: header;
    text-align: center;
    color: white;

}

.rainbow-text {
    -webkit-background-clip: text;
  

}


main{
    grid-area: main;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip:content-box;
    
    
    



}

.Matning {
    grid-area: nav;
    background-color: rgb(15, 15, 15);
    text-decoration: none;
    
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    text-align: center;
    align-content: center;
    color: rgb(255, 255, 255);
}

.Matning ul:hover{
      background-color: black;
      transition: 2s;
}


.Matning ul {
    list-style-type: none;
    background-color: rgb(15, 15, 15);
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

.Matning li {
    float:center;
    padding: 31px;
    
}

.item{
 /*    background-color: blue; */
    width: 20%;
}